*{
  margin: 0 auto;
  padding: 0;
}

/*
--Navigation Bar Styling
*/
#logo{
  display: inline-block;
  float: left;
  width: 4rem;
  padding: 1%;


}

#TEAM31{
  font-family: "garamond";
  font-size: 150%;
  font-weight: bold;

  color: azure;
  background-color: black;

  margin-left: 10%;
  margin-right: 10%;
  opacity: 70%;
}

#navbar{
  position: fixed;

  width: 100%;
  height:10%;

  border-bottom: 0.2rem solid aliceblue;
  background-color: lightslategray;
  color: azure;

  background-image: url('mail.png');
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;

  opacity: 95%;
  z-index: 1;
}


#navbar ul{
  list-style: none;
  text-align: center;
}

#navbar ul li{
  display: inline-block;
  vertical-align: top;

  font-family: "courier new";

  margin: 0;
  padding: 0.5rem;
}
#navbar ul li a{
  color: white;
  text-decoration: none;
}
/*
--Landing Page Styling
*/
#landing_screen{
  color:black;
}

#myVideo{
  display: block;
  position: fixed;

  background-color: white;

  width: 100%;
  height: 100%;

  overflow: hidden;
  z-index: -100;
}

#title{
  z-index: 1;
  width: 100%;
  height: 100%;

  background-position: center;

  border: 0;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: 50px;
  font-weight: bold;
  font-family: "copperplate";
  color:aquamarine;
}

#title_text{
  color:aquamarine;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/*
--Problem Statement Styling
*/

#problemstatement, #systemspecs, #mobileapp, #blockdiagrams{
  display: inline-block;
  background-color:ghostwhite;
  opacity: 95%;

  font-family: garamond;
  font-size: 0.8rem;
  color: black;

  padding-top: 10%;

  width: 100%;
}

#contents{
  width: 75%;
}

#problemstatement .header, #systemspecs .header, #mobileapp .header, #blockdiagrams .header{
  font-family: "courier new";
  font-size: 1.25rem;

  color:  CadetBlue;

  width: 100%;
  padding-bottom: 3%;

  text-align: center;
  float: center;

}

.headcap{
  font-family: "courier new";
  font-size: 1rem;

  color:  navy;

  text-align: left;

}

.text{
  width: 35%;
  text-align: left;
  float: left;

  margin-left: 5%;
  margin-bottom: 5%;
}

.textpara{
  text-align: left;
  float: left;

  font-family: Helvetica;
}

.images{
  width: 50%;
  padding-top: 3%;

  position: relative;
  text-align: right;
  float: right;

  border-radius: 1rem;

  padding-bottom: 10%;


}


.header{
  font-size: 2.5rem;
  margin: 2.5% 3% 0 3%;

  font-weight: bold;

}

/*
--Team Members Styling
*/
#team{
  display: inline-block;
  text-align: center;

  color: white;

  background-image: url('dots.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;

  padding-top: 5%;
  padding-bottom: 10%;

  opacity: 95%;
}

#team_header{
  font-size: 2.5rem;
  font-family: garamond;

  color: white;
}

#linelist{
  display: flex;
  align-items: stretch;
  width: 100%;

  list-style: none;
}

#linelist li{
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
}

.vertline{
  display: inline-block;
  width: 100%;

  padding-top: 1%;
  padding-bottom: 1%;

  font-weight: bold;
  font-size: 3rem;
}

#l0{
  color: aliceblue;
}

#l1{
 color: gainsboro;
}

#l2{
  color: darkgrey;
}

#l3{
  color: dimgrey;
}

#l4{
  color: black;
}

#pfplist{
  display: flex;
  align-items: stretch;

  list-style: none;
}

#pfplist li{
  display: block;
  flex: 0 1 auto;
  list-style-type: none;

  width: 20%;
  float: center;
  vertical-align: center;
}

.name{
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: bold;
}

.pfp{
  display:inline;
  border-radius: 1rem;
  width: 70%;
}

.caption{
  display:inline;
}


/*
--Diagrams Styling
*/


#blockdiagrams{
  display: inline-block;
  background-color:ghostwhite;
  opacity: 95%;
  width: 100%;

  z-index: -1;
}

figure{
  display: inline-block;
  float: center;

  text-align: center;

  border: thin black solid;
  background-color: white;
  background: rgba(128,128,128,0.7); /* newer browsers */


  z-index: 1;

  margin-bottom: 10%;
  margin-left: 5%;

}

.diagrams{
  display: inline-block;
  width: 80%;

  float: center;
  text-align: center;


}

.cap{
  text-align: center;

  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

/*
--Documents Styling
*/
#listofdocuments{
  display: inline-block;
  background-color: ghostwhite;

  text-align: center;
  padding: 5% 5% 5% 5%;
  padding-bottom: 10%;
}

#listofdocuments span{
  color:  CadetBlue;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
}

#listofdocuments li{
  list-style-type: none;
}

.doccontain{
  display: inline-block;
  width: 100%;
}

.container{
  display: inline-block;
  float: left;
  margin-left: 5%;
}

.container2{
  display: inline-block;
  float: left;
  margin-left: 2%;
}

.slidecap{
  margin-bottom: 5%;

  font-family: "courier new";
  font-weight: bold;

  font-size: 1.5rem;
}

.doctype{
  font-family: "courier new";
  font-weight: bold;
  font-size: 2rem;

  text-decoration: underline;

  color: navy;
}
/*
--Footer Styling
*/

footer{
  padding-top: 5%;
  padding-bottom: 10%;

  background-color: black;
  color: white;

  text-align: center;
  font-family: "monaco";
}

footer span{
  font-size: 2rem;

  text-decoration: underline;
  font-family: "courier new";
}

footer a{
  color: white;

  font-weight: bold;
  font-family: "courier new";

  text-decoration: none;

}

footer p{
  display: inline-block;
  float: center;

  padding-bottom: 2%;
  width: 55%;

}

footer ul{
    list-style: none;

}

footer ul li{
  display: inline-block;
  text-decoration: underline;

  vertical-align: top;

  color: black;
  font-family: "courier new";

  margin: 0;
  padding: 0.5rem;
  padding-top: 1.5rem;
}

#contact{
  font-size: 1.5rem;
  width: 60%;
}


#dash{
  display: inline-block;
  float: center;

  text-decoration: none;
  margin-left: 40%;
  margin-right: 40%;
}

#footerimg{
  display: inline-block;
  float: center;
  margin-left: 50%;
}

#end{
  font-style: italic;
}
/*
--Body Styling
*/

body{
  background-color: beige;
}

body h1{
  color:  CadetBlue;
  text-align: center;
}

body p{
  text-align: center;
}


/*
--Image link Styling
*/
